  <header class="header">
        <nav class="navbar">
            <div class="nav-content">
                <a href="../index.html" class="nav-brand">
                   <img src="/public/logo.png" alt=""> 
                </a>
                
                <div class="nav-actions">
                    <a href="../../index.html" class="btn-secondary">
                       <img src="/public/home.png" alt="">
                    </a>
                </div>
            </div>
        </nav>
    </header>