
@import url("../utils/variables.css");
@import url("../utils/fonts.css");

@import url("./reset.css");
@import url("./normalize.css");
@import url("./container.css");

@import url("/src/styles/layout/header.css");
@import url("/src/styles/layout/hero.css");
@import url("/src/styles/layout/card.css");
@import url("/src/styles/layout/details.css");
@import url("/src/styles/layout/footer.css");
@import url("/src/styles/layout/latest.css");
@import url("/src/styles/layout/login.css");
@import url("/src/styles/layout/paymentMobile.css");
@import url("/src/styles/layout/paymentScs.css");
@import url("/src/styles/layout/popular.css");
@import url("/src/styles/layout/registration.css");
@import url("/src/styles/layout/sendContactScs.css");
@import url("/src/styles/layout/stayUpd.css");


* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
 
  font-family: 'Regular', sans-serif;
  color: var(--text);
  background: var(--bg-main);
}

body.is-open { overflow: hidden; }

p {
  font-size: 16px;
  line-height: 1.5;
}





