
@import url("../utils/variables.css");

@import url("./reset.css");
@import url("./normalize.css");
@import url("./container.css");

@import url("../layout/header.css");
@import url("../layout/hero.css");
@import url("../layout/card.css");
@import url("../layout/product.css");
@import url("../layout/footer.css");
@import url("../layout/latest.css");
@import url("../layout/login.css");
@import url("../layout/paymentMobile.css");
@import url("../layout/paymentScs.css");
@import url("../layout/popular.css");
@import url("../layout/registration.css");
@import url("../layout/sendContactScs.css");
@import url("../layout/stayUpd.css");



* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
 
  font-family: 'Regular', sans-serif;
  color: var(--text);
  background: var(--bg-main);
}

body.is-open { overflow: hidden; }

p {
  font-size: 16px;
  line-height: 1.5;
}





